{% extends 'dashboard/base_dashboard.html' %}
{% block page_title %}Archive Account{% endblock %}
{% block sb_users %}active{% endblock %}

{% block dash_content %}
{% url 'dashboard:user_list' as cancel_url %}
{% include 'partials/confirm_delete_card.html' with title='Archive Account' message_prefix='Move' item_name=profile_user.get_full_name|default:profile_user.username message_suffix="'s account to the Archive? They'll be signed out and won't be able to log in until an admin restores the account from the Archive page." cancel_url=cancel_url submit_icon='fa-box-archive' submit_label='Archive' %}
{% endblock %}